

<%= form_with(model: user, local: true, id: :form1) do |form| %>
  



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, :required => true%>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, :required => true , :remote => true , onblur: "check()" , onfocus: "remove()"%>
    <span id="status">
    </span>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password ,:required => true%>
  </div>

  <div class="field">
    <%= form.label :confirm_password %>
    <%= form.password_field :confirm_password, id: :user_confirm_password,:required => true ,  onblur: "checkpwd()" %>
    <span id="statuspwd">
    </span>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email,:required => true , onblur: "checkmail()" , :remote => true %>
    <span id="statusmail">
    </span>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script language="javascript" >
 function check(){
	console.log("check")
        $newvar = $("#user_username").val()
	console.log($newvar)
	$.ajax({
	url: "/check_user",
	type: 'GET',
	data: {username: $newvar },
	success: function(data)
	{
		$('#status').html(data);
		console.log(data)
	}
	});
	}

function checkmail(){
	console.log("checkmail")
        $mailvar = $("#user_email").val()
	console.log($mailvar)
	$.ajax({
	url: "/checkmail_user",
	type: 'GET',
	data: {email: $mailvar },
	success: function(data)
	{
		$('#statusmail').html(data);
		console.log(data)
	}
	});
	}


function checkpwd(){
	console.log("checkpwd")
        $pwdvar = $("#user_password").val()
	$confpwdvar = $("#user_confirm_password").val()
	if($pwdvar == $confpwdvar)
		$('#statuspwd').html("");
	else
		$('#statuspwd').html("Incorrect password");
        
	/*$.ajax({
	url: "/check_user",
	type: 'GET',
	data: {username: $newvar },
	success: function(data)
	{
		$('#status').html(data);
		console.log(data)
	}
	});*/
	}

function remove(){
	$("#status").html(" ");
}

</script>




