<p id="notice"><%= notice %></p>

<h1>User Login</h1>

<%=form_tag ('/users/login') do%>
 <%= label_tag(:uname, "Username:") %>
 <%= text_field_tag(:uname)%><br>
 <%= label_tag(:password, "Password:") %>
 <%= password_field_tag 'password' %><br><br>
<div class="row">
 <div class="column"><%= submit_tag("Login") %></div>
<% end %>

<div class="column"><%= button_to 'SignUp', new_user_path, :method => :get %></div>
</div>
